<header>
    <nav class="navbar navbar-expand-lg fixed-top nav-color">
        <a class="navbar-brand" href="#"><i class="fab fa-2x fa-adn text-warning my-2"></i>DITYA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/about">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" >Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          
        </div>
      </nav>  
</header>
<section id="profile">
  <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
          <div class="col-md-4 text-center">
            
              <h1 class="display-4 mt-5">Aditya Gautam</h1>
              
           
              <span>Videographer and Developer</span>
              <br>
              <div class="underline bg-danger mx-auto my-2 "></div>
              <a href="#" class="btn btn-outline-danger rounded-pill mx-2 text-uppercase">Hire me</a>
              <a href="#" class="btn btn-outline-danger rounded-pill text-uppercase">Leave a message</a>
            
            
                          
         
               
          </div>
          <div class="col-md-4 my-5">
            <img src="https://media.giphy.com/media/3o7qE1YN7aBOFPRw8E/giphy.gif" width="350">
               
          </div>
               
          <!-- <img src="assets\profilePic.jpg" alt="myPic" class="img-fluid rounded my-image"> -->
         
          </div>

           
  </div>
  
</section>




