.nav-color{
    background-color: #14274e;
}
nav{
    height: 40px;
}
.height{
    height: 100px;
}
.underline{
    width: 30%;
    height: 5px;
   
}
#profile{
   
   margin-top: 100px;
}
nav a{
    color: white;
}

.my-image{
  height: 300px;
  border-radius: 50% !important;
  border: 2px dotted red;
 
}
