<div class="container">
    
    <div class="row">
      
        <div class="col">
            <div class="jumbotron text-center">
                <h2 class="text-center text-font-bold display-4">About Me!</h2>
                <div class="col-md-5">
                    <img src="assets/profilePic.jpg" alt="my-image" class="img-fluid my-img img-responsive">

                </div>
                <div class="col-d-7">
                    <blockquote>
                        Hi there! I'm <b class="text-danger">Aditya Gautam</b>. A computer science graduate from <b>NIT Allahabad </b> with fervent interest in Film making and passionate about Web development. Currently I'm working <b class="text-success">@ADP Hyderabad</b> as a Full stack developer.
                        My tech stack includes HTML,CSS,JS,Boostrap,Angular,React and Spring boot.
                        For more details please visit my Github profile or have a look at my resume.
                        Thank you.
                        <span> Outside of work, I enjoy reading,travelling, making videos, Playing chess and meeting new people.</span>
                      </blockquote>
                      
                </div>
                
                <hr class="my-4">


    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook fa-lg mr-md-5 mr-3 "> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg text-danger mr-md-5 mr-3 "> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin fa-lg mr-md-5 mr-3 "> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg text-danger mr-md-5 mr-3 "> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-github fa-lg text-dark "> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->

                <a class="btn btn-outline-success btn-lg px-5 mr-2 text-uppercase" href="#" role="button">Get Resume</a>
                
                <a class="btn btn-outline-danger btn-lg px-5 text-uppercase" href="#" role="button"><i class="fas fa-chevron-left mr-2"></i>Home</a>
              </div>
        </div>
    </div>
</div>
