<h2 class="text-center text-dark">Recent Projects</h2>
<div class="underline mx-auto bg-danger my-3"></div>
<!-- <div class="text-center py-3 text-capitalize">
  <label for="cars" class="bg-light mx-2">Filter projects</label>
<select name="cars" id="cars" class="bg-light rounded">
  <option value="volvo">Select filter</option>
  <option value="volvo">HTML&CSS</option>
  <option value="saab">Vanilla JS</option>
  <option value="opel">React</option>
  <option value="audi">Angular</option>
  <option value="audi">Full Stack</option>
</select>
</div> -->
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card shadow p-3 mb-5" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card shadow p-3 mb-5" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card shadow p-3 mb-5" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>
   <h3 class="text-center lead text-success font-weight-bold my-5 text-uppercase"><a routerLink="/projects" class="btn btn-lg btn-outline-danger" target="_blank">All Projects<i class="fas fa-location-arrow pl-3"></i></a></h3>
</div>


